*{
    font-family: 'Margarine', cursive;
}
.container{
    width: 800px;
    height: 600px;
    margin: 20px auto;
    /*background-color: red;*/
    display:grid;
    grid-template-columns: 1fr 10px 2fr;
    grid-template-rows: 150px 10px auto 10px 150px;
    grid-template-areas:
    "h h h"
    ". . ."
    "s . c"
    ". . ."
    "f f f"
}
.child{
    padding: 15px;
    box-sizing: border-box;
}
.header{
    width: 800px;
    height: 150px;
    background-color: coral;
    grid-area: h;
}
.aside{
    width: 100%;
    height: 100%;
    /*background-color: indianred;*/
    grid-area: s;
    padding-top: 150px;
}
.content{
    width: 100%;
    height: 100%;
    background-color: powderblue;
    grid-area: c;
}
.footer{
    width: 800px;
    height: 150px;
    background-color: yellow;
    grid-area: f;
}
.button{
font-family: 'Margarine', cursive;
font-family: 'Lobster', cursive;
 display: block;
 background-color: brown;
 width: 60%;
 height: 35px;
 color: white;
 text-decoration: none;
 text-align: center;
 padding-top: 7px;
}